
Sensor v4 (connect COM1 - COM2)/project_sensor_v4/.vs/project_sensor_v4/FileContentIndex/2d09e4fc-fc27-4e4c-9c53-a9c55dba9d5f.vsidx
Sensor v4 (connect COM1 - COM2)/project_sensor_v4/.vs/project_sensor_v4/FileContentIndex/90662095-e50e-44ce-9473-26c009716c03.vsidx
*.vsidx
*.tlog
*.db
*.pdb
*.idb
*.obj
*.log
*.recipe
*.user
*.filters
*.vcxproj
*.sln
*.ipch
*.lock
*.db-shm
Sensor v4 (connect COM1 - COM2)/project_sensor_v4/.vs/project_sensor_v4/v17/.suo
*.db-wal
*.opendb
